{% extends 'base.html' %}

{% block main_html_form %}
    {{ message }}

    <a href="{% url 'currency:bank-create' %}">Create Bank</a>

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Url
            </th>
            <th>
                email
            </th>
            <th>
                Phone
            </th>
        </tr>

        {% for bank in objects %}
        <tr>
            <td>
                {{ bank.id }}
            </td>
            <td>
                {{ bank.name }}
            </td>
            <td>
                {{ bank.url }}
            </td>
            <td>
                {{ bank.email_from }}
            </td>
            <td>
                {{ bank.number_phone }}
            </td>
            <td>
                <a href="{% url 'currency:bank-update' bank.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock main_html_form %}