{% extends 'base.html' %}

{% block main_html_form %}

    <a href="{% url 'currency:contactus-create' %}">Create Contact</a>

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>
                Id
            </th>
            <th>
                Email
            </th>
            <th>
                Subject
            </th>
            <th>
                Message
            </th>
        </tr>

        {% for contactus in contactus_list %}
        <tr>
            <td>
                {{ contactus.id }}
            </td>
            <td>
                {{ contactus.email_from }}
            </td>
            <td>
                {{ contactus.subject }}
            </td>
            <td>
                {{ contactus.message }}
            </td>
            <td>
                <a href="{% url 'currency:contactus-update' contactus.id %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'currency:contactus-details' contactus.id %}">Details</a>
            </td>
        </tr>
        {% endfor %}
    </table>


{% endblock main_html_form %}