{% extends 'base.html' %}

{% block main_html_form %}
    {{ message }}

    <a href="{% url 'currency:bank-create' %}">Create Bank</a>

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>
                Id
            </th>
            <th>
                type
            </th>
            <th>
                sale
            </th>
            <th>
                buy
            </th>
            <th>
                bank
            </th>
            <th>
                create
            </th>
        </tr>

        {% for rate in rate_list %}
        <tr>
            <td>
                {{ rate.id }}
            </td>
            <td>
                {{ rate.get_type_display}}
            </td>
            <td>
                {{ rate.sale }}
            </td>
            <td>
                {{ rate.buy }}
            </td>
            <td>
                {{ rate.bank.name }}
            </td>
            <td>
                {{ rate.created }}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock main_html_form %}