{% extends 'base.html' %}

{% block main_html_form %}
{{ message }}


<a href="{% url 'currency:rate-create' %}" class="btn btn-outline-success btn-sm btn-block" role="button" aria-pressed="true"><h2 >Create Rate</h2></a>

<table class="table table-striped">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Type</th>
            <th scope="col">Sale</th>
            <th scope="col">Buy</th>
            <th scope="col">Source Name</th>
            <th scope="col">Date</th>
            <th scope="col">Create</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for rate in rate_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ rate.id }}</td>
                <td>{{ rate.get_type_display }}</td>
                <td>{{ rate.sale }}</td>
                <td>{{ rate.buy }}</td>
                <td>{{ rate.bank.name }}</td>
                <td>{{ rate.date }}</td>
                <td>{{ rate.created }}</td>
                {% if request.user.is_authenticated %}
                    <td>
                        <a href="{% url 'currency:rate-details' rate.id %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Details</a>
                    </td>
                {% endif %}
                {% if request.user.is_superuser %}
                    <td>
                        <a href="{% url 'currency:rate-update' rate.id %}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Edit</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock main_html_form %}

