{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block main_html_form %}

    <img class="rounded mx-auto d-block rounded-circle" src="{{ request.user.get_avatar_user }}" alt="Cinque Terre">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Save</button>
        {% if request.user.is_authenticated %}
            <a href="{% url 'account:reset-password' %}">Reset password</a>
        {% endif %}
    </form>



{% endblock main_html_form %}